body {
	overflow: hidden;
}

main {
	align-content: stretch;
}


main h2 {
	margin: 0%;
}

main div {
	padding: 2em;
}

#filebrowser {
	flex-grow: 3;
}

#filebrowser table {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px;
	display: block;
	height: 100vh;
	overflow: scroll;
}

#inspector {
	flex-grow: 1;
}

#upload-files-popup {
	justify-content: center;
	align-items: center;
	height: 100%; /* FIXME: Not perfectly center and bad */
}

#upload-files-popup div {
	padding: 2em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 7px;
}

#upload-files-popup div h2 {
	margin-top: 0%;
	margin-bottom: 2em;
}
